body {
    width: 80%;
}

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
    }
}

header {
    & div {
        margin-top: 1rem
    }
    & img {
        width: 3rem
    }
    & h1 {
        font-size: 2rem;
        color: #D04F4F;
    }
}